/* Header */
.navbar {
    background-color: #050C1F;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: gray;
}

.navbar-brand img {
    width: 200px;
}

/* Anasayfa */
.home-card{
    border-radius: 10%;
    margin-bottom: 50px;
}
.slider-img{
    height:500px;
    width: 100%;
}
.home-card img{
    border-radius: 10% 10%;
}

.home-btn{
    background-color: #050C1F;
    border: none;
}
.home-btn:hover{
    background-color: gray;
}

/* Mağaza Sayfası */
.product-card .img img {
    width: 150px;
}

.product-card {
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product {
    display: flex;
}

.btn-shop{
    background-color: #050C1F;
    border: none;
}
.btn-shop:hover{
    background-color: gray;
}
.category-shop{
    color: #050C1F;
}
h3{
    color: #050C1F;
}
.shop-logo{
    width: 90%;
}
.card-title{
    color: #050C1F;
}
.cart-text{
    color: #050C1F;
}

.add-card {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

/* Sepet */

.qty {
    display: flex;
    justify-content: space-between;
}

.minus {
    margin-right: 15px;
}

.plus {
    margin-left: 15px;
}

/* Login */

.login {
    margin: auto;

}

.btn-info{
    background-color: #050C1F;
    color: #fff;
    border: none;
}


.btn-info:hover{
    background-color: gray;
}
.btn-info:focus{
    background-color: gray;
    border: none;
}
.btn-info:active{
    background-color: gray;
    border: none;
}
.btn-danger{
    background-color: #640c0c;
    color: #fff;
    border: none;
}

.btn-success{
    background-color: #0f4410;
    color: #fff;
    border: none;
}

.btn-disabled{
    background-color: #000000;
    color: #fff;
    border: none;
}


.login-form {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 10%;

}